{% extends "layout.html" %}
{% block body %}

<div class="container col-md-6 col-md-offset-3">

    <div class="panel panel-default">

        <div class="panel-heading clearfix">
            <div class="form-group">
                <div class="col-md-11">
                    <h4>Регистрация</h4>
                </div>
                <a class="btn btn-default col-md-1" href="{{ url_for('main') }}">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>

            </div>
        </div>

        <div class="panel-body">
            <form action="{{url_for('register')}}" method="POST" name="patient">

                <div class="form-group">
                    <label for="login">Логин</label>
                    <input type="text" id="login" name="login" class="form-control" tabindex="1" maxlength="30" autocomplete="off" required>
                </div>

                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="password" class="form-control" tabindex="2" minlength="3" maxlength="30" autocomplete="off" required>
                </div>

                <div class="form-group">
                    <label for="password2">Подтвердите пароль</label>
                    <input type="password" id="password2" name="password2" class="form-control" tabindex="3" minlength="3" maxlength="30" autocomplete="off" required>
                </div>

                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input id="email" name="email" class="form-control" tabindex="4" pattern=".*@.*" maxlength="60" required autocomplete="off">
                </div>

                <div id="validationMessages" class="alert alert-danger col-md-12" role="alert" hidden>
                    {% if error %}
                        <p>Поле {{ error }} содержит ошибку</p>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary col-md-12" tabindex="8">Зарегистрироваться</button>

            </form>
        </div>

    </div>

</div>
{% endblock %}

{% block scripts %}
<script>

    $(document).ready(function() {

        var passwordsMatch = true;

        $('#password, #password2').keyup(function() {

            var pwd = $('#password').val();
            var pwd2 = $('#password2').val();

            passwordsMatch = pwd === pwd2;

            if (!passwordsMatch) {
                $('#validationMessages').html('Пароли не совпадают');
                $('#validationMessages').show();
                $('button[type="submit"]').attr('disabled', true);
            } else {
                $('#validationMessages').hide();
                $('button[type="submit"]').attr('disabled', false);
            }

        });

    });

</script>
{% endblock %}
