<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/static/">
    <title>orglib</title>

    <!-- Bootstrap core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<br/>
    <div class="container col-md-4 col-md-offset-4">

        <form class="panel panel-default" action="" method="POST">

            <div class="panel-heading text-center">
                <h2>Управление списком</h2>
                <h5>членов Московской городской организации ВОГ, инвалидов по слуху, участвующих в экпериментальной группе по вызову "03"</h5>
            </div>

            <div class="panel-body">

                <div class="form-group">
                    <label for="code">Введите пароль</label>
                    <input class="form-control" type="password" name="code" id="code">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary col-md-12">Войти</button>
                </div>

            </div>


        </form>

        {% if error %}
        <div id="validationMessages" class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}

    </div>


<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script>
    $(document).ready(function() {

        setTimeout(function() {
            $('#code').focus();
        }, 0);


    });
</script>

</body>
</html>
