{% extends "layout.html" %}
{% block body %}

<div class="container col-md-1">

    <h4>Действия</h4>
    <hr>

    <div class="form-group">
        <button type="text" class="btn btn-default">Добавить книгу</button>
    </div>

    <div class="form-group">
        <button type="text" class="btn btn-default">Заказы</button>
    </div>

    <div class="form-group">
        <button type="text" class="btn btn-default">Публичная библиотека</button>
    </div>

</div>

<div class="container col-md-10 col-md-offset-1">

    <h3>Здравствуйте, {{ current_user.login }}!</h3>

    <div id="grid" style="width: 100%; height: 300px;">

    </div>

    <hr>

        <div class="panel panel-default">

            <div class="panel-heading">Лента новостей</div>
            <div class="panel-body">

                <p>Пользователь ... поделился ....</p>
                <p>Пользователь ... поделился ....</p>
                <p>Пользователь ... поделился ....</p>
                <p>Пользователь ... поделился ....</p>

            </div>

        </div>


</div>
{% endblock %}


{% block scripts %}

<script>

    var downloadIcon = '<div style="width: 100%; text-align: center;"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></div>';
    var shareIcon = '<div style="width: 100%; text-align: center;"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></div>';

    $('#grid').w2grid({
    name: 'grid',
    header: 'List of Names',
    show: {
        toolbar: true,
        footer: true
    },
    columns: [
        { field: 'authorName', caption: 'Имя автора', size: '15%', sortable: true, attr: 'align=center' },
        { field: 'authorLastName', caption: 'Фамилия автора', size: '15%', sortable: true, resizable: true },
        { field: 'name', caption: 'Название книги', size: '40%', sortable: true, resizable: true },
        { field: 'year', caption: 'Год выпуска', size: '10%', resizable: true },
        { field: 'download', caption: 'Скачать', size: '10%', resizable: true },
        { field: 'share', caption: 'Поделиться', size: '10%', resizable: true }
    ],
    searches: [
        { field: 'authorName', caption: 'Имя автора', type: 'text' },
        { field: 'authorLastName', caption: 'Фамилия автора', type: 'text' },
        { field: 'name', caption: 'Название книги', type: 'text' },
    ],
    sortData: [{ field: 'recid', direction: 'ASC' }],
    records: [
        { recid: 1, authorName: 'John', authorLastName: 'doe', name: 'Властелин колец', year: '3.4.2012', download: downloadIcon, share: shareIcon },
        { recid: 2, authorName: 'Stuart', authorLastName: 'Motzart', name: 'Властелин колец', year: '3.4.2012', download: downloadIcon, share: shareIcon },
        { recid: 3, authorName: 'Jin', authorLastName: 'Franson', name: 'Властелин колец', year: '3.4.2012', download: downloadIcon, share: shareIcon },
        { recid: 4, authorName: 'Susan', authorLastName: 'Ottie', name: 'Властелин колец', year: '3.4.2012', download: downloadIcon, share: shareIcon },
        { recid: 5, authorName: 'Kelly', authorLastName: 'Silver', name: 'Властелин колец', year: '3.4.2012', download: downloadIcon, share: shareIcon },
        { recid: 6, authorName: 'Francis', authorLastName: 'Gatos', name: 'Властелин колец', year: '3.4.2012', download: downloadIcon, share: shareIcon }
    ]
});
</script>
{% endblock %}


