{% extends "layout.html" %}
{% block body %}

<div class="container col-md-1">

    <h4  style="margin-top: 20px;">Навигация</h4>
    <hr>

    <div class="form-group">
        <a type="text" class="btn btn-success" href=" {{ url_for('book_create') }}"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить книгу</a>
    </div>

    <div class="form-group">
        <a type="text" class="btn btn-default" href=" {{ url_for('orders') }}">Заказы</a>
    </div>

    <div class="form-group">
        <a type="text" class="btn btn-default" href="{{ url_for('main') }}">Личный кабинет</a>
    </div>

</div>

<div class="container col-md-10 col-md-offset-1">

    <h3>Публичная библиотека</h3>

    <div class="panel panel-default" style="max-height: 550px; overflow-y: scroll;">

            <div class="panel-body">
                
                <table class="table table-striped" id="books" >
                    <caption>Книги</caption>
                    <tr>
                        <th width="30%">Фамилия и имя автора</th>
                        <th width="40%">Название книги</th>
                        <th width="10%">Год издания</th>
                        <th width="10%">Загрузить</th>
                        <th width="10%">Добавить в личную библиотеку</th>
                    </tr>
                    <tr>
                        <th>
                            <div class="form-group form-group-sm">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="filterAuthorName" placeholder="Автор">
                                    <div class="input-group-addon btn">
                                        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="form-group form-group-sm">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="filterBookName" placeholder="Книга">
                                    <div class="input-group-addon btn">
                                        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="form-group form-group-sm">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="filterYear" placeholder="Год">
                                    <div class="input-group-addon btn">
                                        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>William Somerset Maugham</td>
                        <td>The Moon and Sixpence</td>
                        <td>1919</td>
                        <td  align="center"><a href="#" class="btn btn-default"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
                        <td  align="center"><a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a></td>
                    </tr>
                    <tr>
                        <td>William Somerset Maugham</td>
                        <td>The Razor’s Edge</td>
                        <td>1944</td>
                        <td  align="center"><a href="#" class="btn btn-default"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
                        <td  align="center"><a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a></td>
                    </tr>
                    <tr>
                        <td>William Somerset Maugham</td>
                        <td>The Moon and Sixpence</td>
                        <td>1919</td>
                        <td  align="center"><a href="#" class="btn btn-default"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
                        <td  align="center"><a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a></td>
                    </tr>
                    <tr>
                        <td>William Somerset Maugham</td>
                        <td>The Razor’s Edge</td>
                        <td>1944</td>
                        <td  align="center"><a href="#" class="btn btn-default"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
                        <td  align="center"><a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a></td>
                    </tr>
                    <tr>
                        <td>William Somerset Maugham</td>
                        <td>The Moon and Sixpence</td>
                        <td>1919</td>
                        <td  align="center"><a href="#" class="btn btn-default"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
                        <td  align="center"><a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a></td>
                    </tr>
                    <tr>
                        <td>William Somerset Maugham</td>
                        <td>The Razor’s Edge</td>
                        <td>1944</td>
                        <td  align="center"><a href="#" class="btn btn-default"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
                        <td  align="center"><a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a></td>
                    </tr>

                </table>

            </div>

    </div>


</div>
{% endblock %}


{% block scripts %}
<script>

    $(document).ready(function() {

        var hidden = undefined;

        $('#books input').keyup(function() {

            var filter = $(this).val();
            var col = $(this).closest("th").index();

            if (hidden !== undefined) hidden.show();

            hidden = $(this).closest("table")
            .find("tr td:nth-child(" + (col+1) + ")")
            .filter(function(_, elm) { z =$(elm); return $(elm).html().toLowerCase().indexOf(filter.toLowerCase())==-1 && $(elm).is('td') })
            .parent();

            hidden.hide();

        });

    });

</script>
{% endblock %}


